.contenedor-principal {
	background-color: #d1eddf !important;
    height: 500px;
    width: 800px;
    border: solid 1px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.btnAgregar{
	background: transparent url('/assets/img/Green-Add-Button-PNG-Pic.png') 0% 0% no-repeat padding-box;
	width: 30px;
    height: 30px;
    background-size: cover;
    margin: 0 auto;
	cursor: pointer;
	
}

.contenedor-superior{
	position: fixed;
    top: 10px;
    width: 800px;
    left: 45%;
	
}

.contenedor-inferior{
	position: fixed;
	 top: 80px;
	 left: 27%;
	 overflow-y: auto;
     height: 400px;
}





